# Ignore everything in the bin folder except JSON files
bin/
!bin/*.json

# Python files
.venv/
__pycache__/

# CLion default CMake build folders
cmake-build-*/

# CLion project-specific settings
.idea/
