# Executables
*.exe

bin/LWWordCounter

# Python files
.venv/
__pycache__/

# CLion default CMake build folders
cmake-build-*/

# CLion project-specific settings
.idea/

# Serialization formats
bin/*.ubj
bin/*.bson
